.containerOferta {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #0f1112;
  scroll-snap-align: start;
}

.contentOferta {
  display: flex;
  width: 75%;
  /* min-height: 95vh; */
  /* margin-top: 5vh; */
  align-items: center;
  margin-left: 25%;
  background-color: #babcbd;
}

.photo {
  display: flex;
  margin-left: -20%;
  z-index: 1;
  max-width: 50%;
  max-height: 75%;
}

.textOferta {
  display: grid;
  margin: auto;
  padding: 1rem;
  width: 60%;
  height: 70%;
  /* background-color: #9ea0a1; */

  overflow: hidden;
}

.p1 {
  color: #0f1112;
  line-height: 1.4;
}

.p2 {
  color: #0f1112;
  line-height: 1.4;
}

@media (max-width: 991px) {
  .photo {
    display: none;
  }

  .textOferta h1 {

    text-align: center;
    margin-left: -15%;
  }

  .textOferta {
    margin: auto;
    padding: 1rem;
    width: 70%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .textOferta {
    margin: auto;
    padding: 1rem;
    width: 90%;
    height: 100%;
  }
}
