.containerHome {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #0f1112;
  scroll-snap-align: start;
}

.contentHome {
  display: flex;
  width: 75%;
  /* height: 95vh; */
  align-items: center;
  /* margin-top: 5vh; */
  margin-left: 25%;
  background-color: #babcbd;
}

.leftColumnHome {
  position: absolute;
  left: 0;
  width: 25%;
  height: 100vh;
  background-image: url(./gtr.jfif);
  background-size: cover;
}

.textHome {
  display: grid;
  margin: auto;
  padding: 1rem;
  width: 60%;
  height: 70%;
  color: #0f1112;
  /* background-color: #6c757d; */

  overflow: hidden;
}

.p1 {
  color: #0f1112;
}

.p2 {
  color: #0f1112
}

@media (max-width: 991px) {
  .photo {
    display: none;
  }

  .textHome h1 {
    text-align: center;
    margin-left: -15%;
  }

  .textHome {
    margin: auto;
    padding: 1rem;
    width: 70%;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .textHome {
    margin: auto;
    padding: 1rem;
    width: 90%;
    height: 100%;
  }
}
