.container {
    background: url('../images/mercedes1.jpg') center center/cover no-repeat;
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}