.oferta-f {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 0rem 2rem;
}

.geometria-f {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 0rem 2rem;
}

.klasyki-f {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 0rem 2rem;
}

.cennik-f {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 0rem 2rem;
}

.galeria-f {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 0rem 2rem 0rem 2rem;
}